<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket客户端</title>
</head>
<body>

<script type="text/javascript">
    var user_base = {
        user_name:'szhu',
        user_brith: 1997,
        user_age: function () {
            // 顶层函数先获取this
            var that = this;
            function age() {
                var year = new Date().getFullYear();
                return year - that.user_brith;
            }
            return age();
        }
    }
</script>

<script type="text/javascript">
    // 利用filter函数去重，筛选获得不重复数据第一个
    var arr = ['apple', 'strawberry', 'banana', 'pear', 'apple', 'orange', 'orange', 'strawberry'];
    var r = arr.filter(function (element, index, self) {
        return self.indexOf(element) === index;
    });
    console.log(r);

    //创建父类
    var Student = {
        name:'name',
        height:1.3,
        fun:function () {
            console.log('class name: '+ this.name);
        }
    };

    function createUser(name) {
        var new_user = Object.create(Student);
        new_user.name = name;
        return new_user;
    }

    var szhu = createUser('szhu');
    szhu.fun();




</script>


<script type="application/javascript">
    

    window.onload = function () {
        console.log("onload");
        var ws = new WebSocket('ws://127.0.0.1:8005/wsmsg/conn/');
        var sleep = function (time) {
            var endTime = new Date().getTime() + parseInt(time, 10);
            while (new Date().getTime() < endTime){}
        };
        console.log(ws);

        ws.onopen = function() {
            ws.send("INFO Start New Websocket");
        };
        ws.onmessage = function(e) {
            // 获取节点列表
            var message_list = document.getElementById("message");
            // 创建插入的元素
            var recv_data = document.getElementById("recv_id");
            if (recv_data){
                recv_data.innerText = e.data;
            }else {
                recv_data = document.createElement('p');
                recv_data.id = 'recv_id';
                recv_data.innerText = e.data;
                // 插入元素
                message_list.appendChild(recv_data);
            }
            sleep(5000);
            ws.onopen();

            // ws.close();
        };

        ws.onclose = function(e) {
            console.log("connection closed (" + e.code + ")");
        };

        ws.onerror = function(e) {
            console.log("connection errored");
        };
    };
</script>
<div id="message"></div>
</body>
</html>