<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <form action="{{ url_for("login") }}" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.user_name.label }}
            {{ form.user_name(size=16) }}
        </p>
        <p>
            {{ form.user_pwd.label }}
            {{ form.user_pwd(size=16) }}
        </p>
        <p>
            {{ form.remember_me }} 记住密码
        </p>
        <p>
            <input type="submit" value="登录">
        </p>
    </form>


</body>
</html>